body {
	background-color: #F1F4F9;
	margin: 0;
	padding: 0;
}

header {
	background-color: #2687E9;
	width: 1024px;
	height: 50px;
	margin: auto;
}

input {
	border-radius: 4px;
    border: 2px solid;
    border-color: #CED7E0;
    padding: 10px;
    font-size: 12px;
    outline: none;
}

input.search::before{
	width: 10px;
	height: 10px;
}

.fix-align-right {
	text-align: right;
}

.logo {
    background: url(../images/logo.png) center no-repeat;
    background-size: contain;
    width: 120px;
    height: 30px;
    margin-left: 20px;
    position: absolute;
    top: 10px;
}

.content {
	max-width: 900px;
	margin: auto;
}

.my-actions {
	padding: 20px 0;
    background-color: #F1F4F9;
}

button.my-button {
	background-color: #4ABA58 !important;
	text-transform: none;
	padding: 0 25px;
    margin: 0
}

table.my-table {
	border: 1px solid;
	border-color: #CED7E0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

table.my-table thead.md-head>tr.md-row {
    height: 40px;
}

table.my-table td.md-cell {
	color: #617C96;
}

table.my-table th.md-column {
    color: #617C96;
}

table.my-table thead th {
	background-color: #F8FAFC;
}

table.my-table tbody tr {
	background-color: #FFFFFF;
}

table.my-table.md-row-select tbody.md-body>tr.md-row:not([disabled]):hover {
    background-color: #FFFAEB!important;
}

table.my-table.md-row-select tbody.md-body>tr.md-row.md-selected {
    background-color: #D8E9FB;
}

table.my-table md-checkbox.md-default-theme:not(.md-checked) .md-icon, 
table.my-table md-checkbox:not(.md-checked) .md-icon {
    border-color: #CED7E0;
}

table.my-table md-checkbox.md-default-theme.md-checked .md-icon, 
table.my-table md-checkbox.md-checked .md-icon {
    background-color: #FFFFFF;
}

table.my-table md-checkbox.md-default-theme.md-checked .md-ink-ripple, 
table.my-table md-checkbox.md-checked .md-ink-ripple{
	color: #FFFFFF;
}

table.my-table md-checkbox.md-default-theme.md-checked .md-icon:after, 
table.my-table md-checkbox.md-checked .md-icon:after {
    border-color: #345678;
	border-width: 3px;
}

table.my-table md-checkbox.md-checked .md-icon {
    border-color: #A5D3F6;
}


table.my-table td.md-cell>a {
    color: #4A9BEC;
}