.my-search{
	min-width: 250px;
    min-height: 40px;
}

.my-search input,
.my-search button {
	float: right;
}

.my-search input {
	padding: 10px 50px 10px 10px;
}

.my-search button {
	position: absolute;
    top: 16px;
    right: -6px;
	min-width: 40px;
	min-height: 33px;
	line-height: 34px;
	box-shadow: none !important;
	border-left: 2px solid #CED7E0;
    border-radius: 0;
	background-color: #F1F4F9 !important;
}

.my-search md-icon {
	width: 20px;
	height: 20px;
	min-width: 20px;
	min-height: 20px;
	font-size: 20px;
	color: #617C96 !important;
}