<div layout="row" layout-wrap class="my-actions">
	<div flex="20">
		<md-button class="md-raised md-primary my-button" ng-click="vm.navigateToCreateCar()">
			Novo Carro
		</md-button>
	</div>

	<div flex="50">
		<md-button class="md-raised my-button" ng-disabled="vm.selected.length != 1" ng-click="vm.update()">
			Editar
		</md-button>

		<md-button class="md-raised my-button" ng-disabled="vm.selected.length == 0" ng-click="vm.remove()">
			Excluir
		</md-button>
	</div>
	<div flex="30" class="fix-align-right">
		<my-search></my-search>
	</div>
</div>

<md-table-container>
  <table md-table md-row-select multiple ng-model="vm.selected" class="my-table">
	<thead md-head>
	  <tr md-row>
		<th md-column>Placa</th>
		<th md-column>Modelo</th>
		<th md-column>Marca</th>
		<th md-column>Foto</th>
		<th md-column>Combustível</th>
		<th md-column md-numeric>Valor</th>
	  </tr>
	</thead>
	<tbody md-body>
	  <tr md-row md-select="car" md-select-id="placa" md-auto-select ng-repeat="car in vm.findCars()">
		<td md-cell>{{car.placa | licenseCar}}</td>
		<td md-cell>{{car.modelo}}</td>
		<td md-cell>{{car.marca}}</td>
		<td md-cell>
			<a ng-show="{{car.imagem != null}}" href="{{car.imagem}}" target="_blank">Imagem</a>
			<span ng-show="{{car.imagem == null}}">Sem foto</span>
		</td>
		<td md-cell>{{car.combustivel}}</td>
		<td md-cell>{{car.valor | number:2 |comma2decimal:2}}</td>
	  </tr>
	</tbody>
  </table>
</md-table-container>